*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebd4cb;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grid{
    display: grid;
    background-color: #c24a2cc7;
    grid-template-columns: repeat(6,auto);
    position: absolute;
    margin-top: 22.5vh;
    margin-left: 10%;
    border: black 2px solid;
}
.content{
    border: black solid 2px;
    background-color: #793322c7;
    margin: 2px;
    padding: 60px;
    height: 100px;
    width: 250px;
    cursor: pointer;
}
.content:hover{
    background-color: #521607c7;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}