*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ebd4cb;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.grid{
    display: grid;
    background-color: #c24a2cc7;
    grid-template-columns: repeat(6,auto);
    position: absolute;
    margin-top: 2vh;
    border: black 2px solid;
    margin-left: 15vw;
    width: 70vw;
}
.content{
    background-color: #793322c7;
    margin: 3px;
    padding: 60px;
    height: 100px;
    cursor: pointer;
}
.content:hover{
    background-color: #521607c7;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}
.content_clicked
{
    background-color: #521607c7;
}

.screen{
    text-align: center;
    color: whitesmoke;
    padding: 6px;
    background-color:#2c0703;
    margin-left: 10vw;
    height: 25px;
    width: 80vw;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}
.counter{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2vh;
    height: 200px;
}
.booked,.left{
    padding: 20px;
    text-align: center;
}

