*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  background-color: blueviolet;
  padding: 2vmin;
  font-size: 3vmin;
 }
