*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    align-items: center;
    background-color: rebeccapurple;
    justify-content: center;
    align-content: center;
}

.grid{
    margin-top: 2vh;
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content: center;
}

.content{
    margin: 2vh;
    height: 10vh;
    width: 8vw;
}

.card{
    cursor: pointer;
    position: relative;
    border: black 2px solid;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}
.card_face{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}
.card_front{
    background-color: red;
}
.card_back{
    color: black;
    padding: 5vh;
    align-items: center;
    text-align: center;
    background-color: greenyellow;
    transform:rotateY(180deg);
}
.flip_card{
    transform: rotateY(180deg);
}

.play_again{
    margin:auto;
    cursor: pointer;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    padding: 3.5vh;
    height: 8vh;
    width: 10vw;
    border-radius: 10px;
}

.heading{
    font-style: italic;
    padding: 1.5vh;
    color: whitesmoke;
    height: 6vh;
    text-align: center;
}
.board{
    padding: 1.5vh;
    text-align: center;
    display: flex;
    height: 6vh;
}
.moves{
    height: 100%;
    width: 100%;
}
.score{
    height: 100%;
    width: 100%;
}
.over{
    line-height: 20vh;
    font-size: xxx-large;
    text-align: center;
    margin: auto;
    height: 20vh;
    width: 20vw;
    color: yellow;
}
