*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rebeccapurple;
}

.grid{
    margin-top: 30vh;
    display: grid;
    grid-template-columns: repeat(6,auto);
    justify-content: center;
}




.content {
    background-color: purple;
    height: 170px;
    width: 200px;
    perspective: 1000px;
}

.content_inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.content:active .content_inner {
    transform: rotateY(180deg);
}

.content_front, .content_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.content_front {
    background-color: #bbb;
    color: black;
}

.content_back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}