body {
  font-size: 1.3em;
  text-align: justify;
  background: url("./bg.jpg") no-repeat;
  background-size: cover;

  /* background: linear-gradient(90deg, #81a1c1 92%, #2e3440 10%); */
}

a {
  color: #2e3440;
  text-decoration: #81a1c1;
}

h2 {
  font-family: "Courier New", Courier, monospace;
}

.letter {
  color: #4c566a;
  font-weight: bolder;
  /* font-size: small; */
  font-family: "Courier New", Courier, monospace;
  text-decoration: red dotted;
}
