.memePage{
  background-color: #C43B5E;
  color: #D8DEE9;
  height: 100vh;
  display: grid;
  place-content: center;
  .container{
    width: 50vw;
    padding: 3vmin;
    border-radius: 1vmin;
    border:1vmin solid #4C566A;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
    background-color:#3BC4A1;

    .memePageImg{
      img{
        border-radius: 2vmin;
        border: 0.8vmin solid #D8DEE9;
        height: 500px;
      }
    }

    .memePageInp{
      border-radius: 1vmin;
      margin: 1vmin;
      display: grid;
      grid-template-columns: auto auto;
      input{
        padding: 1vmin;
        border-radius: 1vmin;
        margin: 1vmin;
      }
    }
    .memePageBtns{
      display: flex;
      justify-content: space-evenly;
      margin: 2vmin;
      font-size: 2.5vmin;
      font-weight: 800;
      .goBack{
        background-color: #C43B5E;
        margin: 1vmin;
        color: #D8DEE9;
        padding: 2vmin;
        border-radius: 1vmin;
        user-select: none;
        cursor: pointer;
      }
      .generateMeme{
        background-color: #C43B5E;
        margin: 1vmin;
        user-select: none;
        cursor: pointer;
        padding: 2vmin;
        border-radius: 1vmin;
        color: #D8DEE9;
      }
      .download{
        background-color: #C43B5E;
        margin: 1vmin;
        user-select: none;
        cursor: pointer;
        padding: 2vmin;
        border-radius: 1vmin;
        color: #D8DEE9;
      }
    }
  }
}