
.mainPage{
  background-color: #333;
  color: lightblue;
  .mainPageTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vmin;
    padding: 3vmin;
  }
  .templates{
    border: black 0.6vmin solid;
    margin: 1vmin;
    border-radius: 5vmin;
    .template {
      width: 33.33%;
      display: inline-block;
      padding: 3vmin;
      .image {
        cursor: pointer;
        width: 100%;
        height: 500px;
        background-position: center;
        background-size: cover;
        border-radius: 4vmin;
        transition: all .2s ease-in-out;
        border: 0.5vmin solid black;
      }
      .image:hover {
        border: 0.5vmin solid #61dafb;
        cursor: pointer;
        width: 100%;
        height: 500px;
        background-position: center;
        background-size: cover;
        border-radius: 4vmin;
        transform: scale(1.1);
      }
    }
  }
}

